@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
}

p {
    font-family: 'Julius Sans One', sans-serif;
}

header {
    background: #000033 ;
}

.articles {
    grid-template-columns: 50% 48%;
    display: grid;
    margin: 1rem 0;
    padding: .5rem;
    border: 1px solid grey;
    border-radius: .5rem;
}

.article-p {
    margin-left: 1.5rem;
    /* padding: 1rem; */
}

section {
    height: auto;
    width: 90vw;
    margin: 25px auto;
}

.footer-div {
    background-image: url('../images/calamity-city-clouds-1162251 copy.jpg');
    background-size: cover;
    min-height: 200px;
}

.article-images {
    align-items: center;
    float: center;
}

img {
    align-content: center;
    margin: 0 auto;
}

#header-div {
    min-height: 8vh;
}

#menu-icon {
    padding: 15px 0 0 15px;
}

#live-icon {
    position: relative;
    padding: 15px 0 0 0;
    left: 90%;
}

a {
    text-decoration: none;
}

.read-more {
    color: orange;
}

.footer-form {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
}

form {
    margin: 1em auto;
    padding: 3px 0;
    max-width: 15em;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.newsletter-form {
    text-align: center;
    height: 2em;
    justify-content: center;
    align-items: center;
}

.article-images {
    height: 30%;
    width: 30%;
}

.hidden {
    display: none;
}

.less-visible {
    opacity: 10%;
}



input {
    background-color: lightblue;
    float: center;
  }

.input-group {
justify-content: center !important;
}

h2 {
    text-align: center;
}

.multi-column {
    list-style-type: none;
    columns: 2;
    align-content: center;
}

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
}

#mc_embed_signup_scroll {
    text-align: center;
}

.multi-column {
    columns: 2;
    list-style-position: inside;
}

.mc-field-group.input-group {
    text-align: center;
}

.newsletter-form {
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

form {
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

#mc-embedded-subscribe.button {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Julius Sans One', sans-serif;
}

.checkbox-image {
    margin: 0 auto;
    height: 150px;
    height: 150px;
}

.mc-field-group {
    padding: 5px;
    margin: 0 auto;
}

.h2-subscribe {
    padding: 15px;
    margin: 0 auto;
    font-family: 'Julius Sans One', sans-serif;
}

.signup-wrapper {
    width: 80%;
    margin: 0 auto;
    font-family: 'Julius Sans One', sans-serif;
}

strong {
    padding: 15px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 auto
}

.interest-option {
    padding: 10px;
    margin: 0 auto;
    font-family: 'Julius Sans One', sans-serif;
}

#mce-MMERGE3 {
    background-color: lightblue;
    font-family: 'Julius Sans One', sans-serif;
}

#mce-FNAME, #mce-LNAME, #mce-EMAIL {
    color: gray;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-family: 'Julius Sans One', sans-serif;
}

.indicates-required {
    text-align: right;
    font-family: 'Julius Sans One', sans-serif;
}

.checkbox-div {
    margin: 0 auto;
    font-family: 'Julius Sans One', sans-serif;
}

.checkbox-input {
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #979797;
    border-radius: 5px;
    font-family: 'Julius Sans One', sans-serif;
    background-color: white;
    padding: 10px;
}

.input-contain {
    color: grey;
    font-size: 9px;
    font-family: 'Julius Sans One', sans-serif;
}

.checkbox-label {
    background-color: #000033;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 8;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0;
}

label {
    font-family: 'Julius Sans One', sans-serif;
}

.modal {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .modal-content {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    }
    .hidden {
    display: none;
}
  
/* --------------------------------------------------- */
/* -------------- RESPONSIVE FOR PHONES -------------- */
/* --------------------------------------------------- */

@media (max-width: 500px) {
    section {
        width: auto;
        max-width: 90vw;
        margin: 25px auto;
        overflow-y: scroll;
    }

    #menu-icon {
        position: relative;
        padding: auto 0;
    }
    
    #live-icon {
        position: relative;
        left: 55%;
    }

    .footer-form {
        text-align: left;
        padding: 20px 0 0 20px;
    }

    form {
        margin: 1em auto;
        max-width: 15em;
        background-color: white;
    }

    .article-images {
        display: inline-block;
        height: 175px;
        width: 175px;
        border-radius: 5%;
    }

    img {
        flex-shrink: 0;
        overflow: hidden;
    }

    .hidden {
        display: none;
    }

    .less-visible {
        opacity: 10%;
    }
}